@page
@model IndexModel
@{

}

<h1>Welcome to Your Hospital Management System</h1>

<div>
    <ul>
        <li><a asp-page="/Specializations">Specializations</a></li>
        <li><a asp-page="/Doctor">Doctors</a></li>
        <li><a asp-page="/Patient">Patients</a></li>
        <li><a asp-page="/Order">Orders</a></li>
    </ul>
</div>
