@page
@model DoctorRegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="NewUsername"></label>
        <input asp-for="NewUsername" />
        <span asp-validation-for="NewUsername"></span>
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" type="password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <button type="submit">Register</button>
</form>
